.nav {
    width: 100%;
    text-align: center;
    transition: 100ms ease-in-out background;
    position: relative;
}
.nav:hover {
    opacity: 70%;
}

.back {
    position: absolute;
    top: 0;
    left: 30px;
    line-height: 24px;
    cursor: pointer;
}