.product {
    justify-content: center;
    padding: auto;
    display: flex;
    text-align: center;
    margin-left: 100px;
    margin-right: auto;
    margin-bottom: 50px;
    transition: filter 5s;
}
.product__ColImg {
    width: 600px;
}
.product:hover {
    filter: brightness(2);
}
@media only screen and (min-width: 480px) {
    .product__ColImg {width: 100%;}
    .product__Col {width: 100%;}
    .product {margin: auto;}
}