.slug {
    display: block;
    justify-content: space-between;
}
.title_slug {
    text-align: center;
}
.img_big {
    width: 6000px ;
    margin-left: 25px;
    margin-left: 10px;
}
.desc {
    padding: auto;
    text-align: justify;
    margin-left: 10px;
    margin-top: 70px;
    margin-right: 10px;
    justify-content: center;
}
@media only screen and (min-width: 600px) {
    .slug {display: flex;}
}
